.counter {
  display: flex;
}

.counterValue {
  margin-left: 5px;
  margin-right: 5px;
  min-width: 20px;
  text-align: center;
}

.themeTrue {
  color: green;
}

.themeFalse {
  color: red;
  border-radius: 10%;
  font-weight: bold;
}
