.reviewForm {
  min-height: 120px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.inputBlock {
  padding-top: 10px;
  display: flex;
  margin-left: 22px;
}

.inputField {
  margin-left: 10px;
}

.counterPosition {
  margin-left: 10px;
  margin-right: 10px;
}
